{% extends 'base.html.twig' %}

{% block body %}
    <h1>All availaible exercises</h1>
    <a href="{{ path('fitchecker_exercise_add') }}">Add a new exercise</a>
    {% for exc in exercises %}
        <div>
            {{ exc.name }}
        </div>
    {% endfor %}
{%  endblock %}
