{% extends 'base.html.twig' %}

{% block body %}
    <h1>All availaible exercises</h1>
    <a href="{{ path('fitchecker_exercise_add') }}">Add a new exercise</a>
    {% for exc in exercises %}
        <div>
            {{ exc.name }}
            <div>
                For this exercise you might need:
                <ul>
                    {% for equipment in exc.getEquipments() %}
                        <li>{{ equipment.name }} (near: {{ equipment.location }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{%  endblock %}
