{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fitchecker: Keep track of your exercise</h1>
    <p>This is just a dummy project to play with the symfony framework.</p>

    <a href="{{ path('fitchecker_user_login')}}">Sign in</a>
    <a href="{{ path('fitchecker_user_signup')}}">Sign up</a>
{%  endblock %}
